@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(56, 56, 57);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  display: flex;
  text-align: center;
  max-width: 450px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 50px;
  box-shadow: 0 5px 8px 0 rgba(251, 248, 248, 0.2);
}
.base {
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  font-weight: 500;
}
.text {
  text-align: center;
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-left: 1px;
  border-right: 1px;
}

input {
  width: 50%;
  padding: 3px;
  outline: none;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 6px;
  font-size: 16px;
  border-bottom-width: 2px;
  align-items: center;
  margin-top: 10px;
  margin-left: 40px;
}
.base input:focus,
.base input:focus {
  background-color: rgb(76, 66, 66);
  border-color: rgb(0, 0, 0);
  color: white;
}
.output1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.form-control {
  width: 300px;
  height: 90px;
  margin-left: 20px;
  margin-top: -10px;
}
select {
  margin-left: 25px;
}
h4 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 5%;
}
label {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
button {
  height: 45px;
  margin: 45px;
  width: 200px;
  outline: none;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
  letter-spacing: 3px;
  transition-duration: 0.4s;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(82, 82, 93, 1) 19%, rgba(20, 20, 20, 1) 100%);
}
button:hover {
  background: linear-gradient(-90deg, rgba(82, 82, 93, 1) 19%, rgba(20, 20, 20, 1) 100%);
  transform: scale(1.1);
}
@media screen and (max-width: 584px) {
  .container {
    max-width: 100%;
    margin: 50%;
  }
  input {
    max-width: 100%;
    width: 50%;
  }
  .base {
    width: 100%;
  }
  .form-control {
    width: 50%;
    margin-left: 20%;
    margin-top: -10px;
  }
  select {
    width: 50%;
    margin-left: 56px;
  }
  .output1 {
    width: 100%;
  }
  label {
    margin-right: -20px;
  }
  .form-control input {
    width: 100%;
  }
  .base h4 {
    width: 100%;
    margin-left: 5%;
  }
}
